<conteudo-interno>
    <h1>Pesquisar Utilizadores Sistema</h1>
    <button class="btn btn-primary" type="submit" form="frm" ng-click="pesquisar1()">Listar</button>
    <hr />
</conteudo-interno>

<conteudo-interno ng-if="resultados.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Cadastro</th>
				<th>Livros Compartilhados</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in resultados | orderBy:'id'">
                <td>{{user.nome}}</td>
                <td>{{user.data}}</td>
				<td>{{user.livrosCompartilhados}}</td>
            </tr>
        </tbody>
    </table>
</conteudo-interno>
